#country {

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;

}


.countryi{
    color: green;
    background-color:pink;
    border-radius: 10px;
    border: 8px solid yellowgreen;
}